@import url(http://fonts.googleapis.com/css?family=Open+Sans:300,400,700);
@import url(http://fonts.googleapis.com/css?family=Roboto+Condensed:700,400,300);

html {
  font-family: 'Open Sans';
  margin: 0 auto;
}

div {

}

.title-wrapper {
  display: block;
  background-color: #DB504A;
  height: 80px;
  margin: 0 0 40px 0;
  width: auto;
}

.title-message {
  margin: auto;
  text-align: center;
  width: 500px;
  color: rgba(256, 256, 256, 0.7);
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
}


.grid {
  margin: auto;
}

.color-picker {
  margin: auto;
  padding: 0;
  width: 320px;
}

.color {
  display: inline-block;
  margin: 12px 12px 12px 12px;
  height: 25px;
  width: 25px;
  background: red;
  border-radius: 50%;
  transition: all 0.3s ease;
}

.color:hover {
  border-radius: 0;
  transform: scale(1.2);
}

.color:active {
  border-radius: 10%;
}

#red {background-color: #DB504A;}
#blue {background-color: #073B50;}
#green {background-color: green;}
#rainbow {background-color: black;}

button {
  display: inline-block;
  vertical-align: top;
  margin: 9px 0px 12px 3px;
  padding: 0;
  width: 100px;
  height: 30px;
  background: #DB504A;
  font: 700 10px 'Roboto Condensed', sans-serif;
  color: white;
  text-align: center;
  text-transform: uppercase;
  border: 5px solid #CA4039;
  border-radius: 30px;
  transition: all 0.3s ease;
}

button:hover {
  background-color: #084C61;
  border: 5px solid #073B50;
  box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.50);
  border-radius: 72px;
  transform: scale(0.9);
}

.input-block {
  display: none;
  position: absolute;
  padding: 4% 2%;
  top: 42%;
  left: 30%;
  margin: auto;
  background-color: white;
  width: 36%;
  z-index: 1;
}

.close-input-block {
  position: relative;
  left: 90%;
  top: -10px;
  width: 30px;
  height: 30px;
  background: #084C61;
  font: 700 15px 'Roboto Condensed', sans-serif;
  color: white;
  text-align: center;
  border-radius: 50%;
}

.close-input-block:hover {
  background: #DB504A;
  transform: scale(0.9);
}

#close-input-block-text {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
}

.input-fields {
  position: relative;
  padding: 0;
}

.amount-blocks-text {
  display: inline-block;
  width: 60px;
  margin: 6pt 0 6pt;
  font: 700 15px/1.2 'Roboto Condensed', sans-serif;
  text-transform: uppercase;
  text-align: right;
}

input {
  display: inline;
  width: 130px;
}

#confirm-new-grid {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
}

.input-opacity-overlay {
  position: fixed;
  top: 0;
  left: 0;
  background-color: #000;
  width: 100%;
  height: 100%;
  display: none;
  opacity: 0.8;
}

.block {
  display: inline-block;
  background-color: #084C61;
  width: 16px;
  height: 16px;
  border: 0px solid blue;
  margin: 0px 0px 0px 0px;
  padding: 0;
}
