html {
  font-family: arial;
  margin: 0 auto;
}

.title-wrapper {
  display: flex;
  background-color: #DB504A;
  height: 120px;
  margin: 0 0 40px 0;
}

.title-message {
  margin: auto;
  text-align: center;
  width: 500px;
  color: #ffdddd;
}

.button-wrapper {
  margin: auto;
  width: 200px;
}

button {
  text-align: center;
  width: 200px;
  font-size: 18pt;
  background-color: #084C61;
  color: white;
  padding: 12px 40px;
  border: 4px solid #073B50;
  border-radius: 20px;
  margin-top: 100px;
}

button:hover {
  background-color: #DB504A;
  border: 5px solid #CA4039;
}

.grid {
  margin: auto;
  width: 320px;
}

.block {
  display: inline-block;
  background-color: white;
  width: 16px;
  height: 16px;
  border: 1px solid blue;
  margin: 0px 1px 0px 1px;
  padding: 0;
}
